{% extends 'GeoDataBundle:Default:mybase.html.twig' %}
{% block title %}Демонстрационное приложение!{% endblock %}

{% block body %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Демонстрационное приложение</h3>
  </div>
  <div class="panel-body">
	<a href="{{ path('geodata_viewp1') }}">Список точек 1</a> в формате широта-долгота-высота<br>
	<a href="{{ path('geodata_viewp2') }}">Список точек 2</a> в формате базовая точка-азимут-расстояние<br>
	<a href="{{ path('geodata_dist') }}">Вычисление расстояний</a> между точками<br>
	Отображение точек 1 на картах <a href="{{ path('geodata_googlemaps') }}">Google Maps</a> | <a href="{{ path('geodata_yamaps') }}">Яндекс.Карты</a><br>
	<a href="{{ path('geodata_maps2') }}">Отображение точек 2</a> на страничке / картинке / PDF<br>
  </div>
</div>
{% endblock %}