{% extends 'GeoDataBundle:Default:mybase.html.twig' %}
{% block title %}Точки во втором формате{% endblock %}

{% block body %}
<div class="panel panel-primary">
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Список точек с координатами </a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{ path('geodata_viewp1') }}">широта-высота-долгота</a></li>
      <li class="active"><a href="#">базовая точка-азимут-расстояние</a></li>
    </ul>
	</div>
</div>
  <div class="panel-body">
   {% for mess in messages %}
  {% if mess.status==1 %}
  <span class="label label-danger">
  {%else%}
  <span class="label label-success">
  {%endif%}
  {{mess.text}}</span>
  {% endfor %}
	<div class="panel panel-default">
		<div class="panel-heading">Добавление новой точки
		</div>
		<div class="panel-body">
			<form action="{{ path('geodata_viewp2') }}" method="post">
			{{ form_widget(form) }}
			<input type="submit" value="Добавить" />
			</form>
		</div>
	</div>
	<div class="panel panel-default">
	<div class="panel-heading">Список точек</div>
	<div class="panel-body">

	<table class="table table-striped table-hover ">
	  <thead>
		<tr>
		  <th>#</th>
		  <th>Наименование точки</th>
		  <th>Широта</th>
		  <th>Долгота</th>
		  <th>Высота</th>
		  <th>Азимут</th>
		  <th>Расстояние</th>
		  <th>Действие</th>
		</tr>
	  </thead>
	  <tbody>
		{% for point in points %}
			<tr>
			<td>{{loop.index}}</td>
			<td>{{point.gettitle}}</td>
			<td>{{point.getpoint.getbase.getlatitude}}</td>
			<td>{{point.getpoint.getbase.getlongitude}}</td>
			<td>{{point.getpoint.getbase.getheight}}</td>
			<td>{{point.getpoint.getazimuth}}</td>
			<td>{{point.getpoint.getdistance}}</td>
			<td><div class="btn-group btn-group-justified">
			  <a href="{{path('geodata_editpoint2')}}?id={{point.getid}}" class="btn btn-default btn-xs">Изменить</a>
			  <a href="?del={{point.getid}}" class="btn btn-default btn-xs">Удалить</a>
			</div></td>
			</tr> 
		{% endfor %}
	  </tbody>
	  </table> 
	</div>
	</div>
<a href="{{ path('geodata_homepage') }}">На главную страничку демонстрационного приложения</a>
</div>
{% endblock %}